/* 
colors:
green: #379634
gray: #8C8A93
lightgray
yellow: #EAD637

*/

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #42464F;
    color: white;
}

header {
    background-color: darkblue;
    border-radius: 20px;
    padding: 10px;
}


/* 
nav {
    background-color: lightgray;
} */

main {
    /* background-color: #8C8A93; */
    /* background-image: url("../img/desks.jpg"); */
    text-align: center;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

main img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

footer {
    background-color: darkblue;
    padding: 10px;
}

li {
    display: inline;
}

.hero {
    /* background-color: gray; */
    max-width: 800px;
    margin: auto;
    border-radius: 3%;
    /* box-shadow: 3px 3px 3px black; */
}

.hero p {
    margin: 15px;
    text-align: justify;
}

footer {
    text-align: center;
    border-radius: 20px;
}

.main-content {
    margin: auto;
    /* background-color: gray; */
    max-width: 800px;
    /* box-shadow: 3px 3px 3px black; */
    border-radius: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
    text-shadow: 3px 3px 3px aqua;
}

nav {
    font-size: 20px;
    border-top: 3px solid #42464F;
    border-bottom: 3px solid #42464F;
    ;
}

/* login screen */

.loginForm {
    text-align: left;
}

.loginForm input {
    margin-bottom: 1em;
}

button {
    margin-bottom: 1em;
}

p a:visited {
    color: white;
}

p a:hover {
    color: yellow;
}

/* registration */

.registrationForm {
    text-align: left;
}

.registrationForm input {
    margin-bottom: 1em;
}

/*schools page*/
section.school-header {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

section.school-header button {
    width: 15em;
    height: 2.5em;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
}

section.school-header button a {
    color: black;
    text-decoration: none;
}

section.school-header button a:visited {
    color: black;
}

section.school-header button:hover {
    color: blue;
    cursor: pointer;
}

div.school-info {
    background-color: darkblue;
    border-radius: 20px;
}

div.school-info p {
    padding-bottom: 1.5em;
}


.button {
    width: 10em;
    height: 2em;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    background-color: white;
}

a.button {
    color: black;
    text-decoration: none;
}

a.button:visited {
    color: black;
}

a.button:hover {
    color: purple;
    background-color: gray;
}



/*course page */

section.course-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.course-header button {
    width: 15em;
    height: 2.5em;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
}

div.course-info {
    background-color: darkblue;
    border-radius: 20px;
}

div.course-info p {
    padding-bottom: 1.5em;
}