/* 
colors:
green: #379634
gray: #8C8A93
lightgray
yellow: #EAD637

*/

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #42464F;
}

header {
    background-color: #379634;
    border-radius: 20px;
}


/* 
nav {
    background-color: lightgray;
} */

main {
    /* background-color: #8C8A93; */
    text-align: center;
    border-radius: 10px;
}

main img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

footer {
    background-color: #379634;
}

li {
    display: inline;
}

.hero {
    background-color: gray;
    max-width: 800px;
    margin: auto;
    border-radius: 3%;
    box-shadow: 3px 3px 3px black;
}

.hero p {
    margin: 15px;
    text-align: justify;
}

footer {
    text-align: center;
    border-radius: 20px;
}