/* 
colors:
green: #379634
gray: #8C8A93
lightgray
yellow: #EAD637

*/

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #42464F;
    color: white;
}

header {
    background-color: darkblue;
    border-radius: 20px;
    padding: 10px;
}


/* 
nav {
    background-color: lightgray;
} */

main {
    /* background-color: #8C8A93; */
    /* background-image: url("../img/desks.jpg"); */
    text-align: center;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

main img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

footer {
    background-color: darkblue;
    padding: 10px;
}

li {
    display: inline;
}

.hero {
    /* background-color: gray; */
    max-width: 800px;
    margin: auto;
    border-radius: 3%;
    /* box-shadow: 3px 3px 3px black; */
}

.hero p {
    margin: 15px;
    text-align: justify;
}

footer {
    text-align: center;
    border-radius: 20px;
}

.main-content {
    margin: auto;
    /* background-color: gray; */
    max-width: 800px;
    /* box-shadow: 3px 3px 3px black; */
    border-radius: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
    text-shadow: 3px 3px 3px aqua;
}

nav {
    font-size: 20px;
    border-top: 3px solid #42464F;
    border-bottom: 3px solid #42464F;
    ;
}


/* login screen */

.loginForm {
    text-align: left;
}

.loginForm input {
    margin-bottom: 1em;
}

button {
    margin-bottom: 1em;
}

p a:visited {
    color: white;
}

p a:hover {
    color: yellow;
}


/* registration */

.registrationForm {
    text-align: left;
}

.registrationForm input {
    margin-bottom: 1em;
}


/*schools page*/

section.school-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

section.school-header button {
    width: 15em;
    height: 2.5em;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;

}

section.school-header button a {
    color: black;
    text-decoration: none;
    text-align: left;
}

.button {
    padding-top: 0.5em;
}

section.school-header button a:visited {
    color: black;
}

section.school-header button:hover {
    color: blue;
    cursor: pointer;
}

div.school-info {
    background-color: darkblue;
    border-radius: 20px;
}

div.school-info p {
    padding-bottom: 1.5em;
}

.button {
    width: 10em;
    height: 2em;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    background-color: white;
}

a.button {
    color: black;
    text-decoration: none;
}

a.button:visited {
    color: black;
}

a.button:hover {
    color: purple;
    background-color: gray;
}


/*course page */

section.course-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.course-header button {
    width: 15em;
    height: 2.5em;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
}

div.course-info {
    background-color: darkblue;
    border-radius: 20px;
}

div.course-info p {
    padding-bottom: 1.5em;
}

.mainButton a {
    color: white;
    text-decoration: none;
    background: crimson;
    padding: 10px;
}

.mainButton a:hover {
    color: lightblue;
    text-decoration: underline;
    border: 1px solid lightblue;
    animation-name: orangeb;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.mainButton {
    margin: 15px;
}

@keyframes orangeb {
    50% {
        background-color: orange;
    }
}

.added {
    animation-name: celebrate;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

span.reviewButton a input {
    margin-top: 1.5em;
    height: 2em;
    width: 15em;
}

img.logo {
    max-width: 15%;
}

@keyframes celebrate {
    /* 20% {
        transform: translateX(-20px);
    }
    40% {
        transform: translateY(20px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(-20px);
    } */
    20% {
        transform: translateX(20px) translateY(20px);
    }
    40% {
        transform: translateX(20px) translateY(-20px);
    }
    60% {
        transform: translateX(-20px) translateY(-20px);
    }
    80% {
        transform: translateX(-20px) translateY(20px);
    }
}